<h1>Quote of the day</h1>
<table>
  <tr>
    <th>Title: </th>
    <th>Text: </th>
    <th></th>
  </tr>

  <tr>
    <td><%= @quotes.title %></td>
    <td><%= @quotes.text %></td>
  </tr>
</table>

<%= button_to "Next quote", quotes_index_path, :method => :get %>
